@* <!-- In your View --> *@
@* <div class="mb-3"> *@
@*     <label asp-for="CategoryId" class="form-label">Menu Category</label> *@
@*     <select asp-for="CategoryId" asp-items="Model.CategoryOptions" class="form-select"> *@
@*         <option value="">-- Select Category --</option> *@
@*     </select> *@
@*     <span asp-validation-for="CategoryId" class="text-danger"></span> *@
@* </div> *@